*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --result: white;
   --primary: linear-gradient(-35deg, #b5c3ee 30%, rgba(231, 44, 19, 0%) );
   --primary-text: #424242;
   --primary-button: linear-gradient(138.91deg, rgba(255, 255, 255, 0.6) -4.74%, rgba(255, 255, 255, 0) 149.2%);
   --secondary-button: rgb(148, 203, 255);
   --equal: rgba(25, 172, 255, 1);
   --hover-td: rgb(136, 136, 136);
   --transition-duration: 3s;
}

html{
    font-size: 62.5%;
    background: var(--primary);
    transition: all 0.3s ease;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all var(--transition-duration);
    overflow-y:auto;
}

/*NORMAL TABLE CALCULATOR*/



table tr td{
    background: var(--primary-button);
    padding: 1.5rem;
    border: solid linear-gradient(90deg, rgba(255,255,255, 0) 0%, rgba(255,255,255,0) 100%); 
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: .2s all ease;

}



table tr td:hover{
    background-color: var(--hover-td);
}

.normal-calculator-table{
    border-spacing: 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: bolder;
    transition: all .3s ease;

}

.container-normal-calculator{
    max-width: 400px;
    background-color: var(--primary);
    font-size: 2.6rem;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100vh;
}
.result{
    width: 320px;
    align-self: flex-end;
    margin-right: 3.5rem;
    margin-bottom: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 4rem;
    color: var(--primary-text);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    resize: none;
    overflow: hidden;
}

.result::placeholder{
    color: var(--primary-text);
}

.equal{
    background-color: var(--equal);
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -3px 4px 11px #B0DFFF;
}



/*NORMAL TABLE CALCULATOR*/


.scientific-calculator-table{
    font-size: 2.2rem;
    color: rgb(247, 73, 73);
    border-spacing: .5rem;
    width: 100%;
    font-weight: bolder;
    max-width: 400px;
    margin-bottom: 1rem;
}

.result-scientific{
    width: 320px;
    margin-bottom: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 4rem;
    color: rgb(247, 73, 73);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    resize: none;
    overflow: hidden;
}

.container-scientific-calculator{
    height: 100vh;
    justify-content: end;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hide{
    display: none;
}

/*Burguer menu*/

.theme-toggle {
    position: absolute;
    top: 2rem;
    width: 100px;
    height: 35px;
    background-color: #292b2e;
    border-radius: 25px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.theme-toggle .toggle-button {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 25px;
    height: 25px;
    background-color: var(--equal);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.theme-toggle.dark {
    background-color: var(--equal);
    transition: all .3s ease-in-out;
}

.theme-toggle.dark .toggle-button {
    transform: translateX(63px);
    transition: all .3s ease-in-out;
}

.toggle-button{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.theme-toggle .cinza{
    background-color: #292b2e;
  }

  .dark-theme:root{
    --result: white;
    --primary: linear-gradient(167.42deg, #17181A -4.01%, #17181A 116.7%);
   --primary-text: #29A8FF;
   --primary-button: #303136;
   --secondary-button: rgb(148, 203, 255);
   --equal: rgba(25, 172, 255, 0.6);
   --hover-td: rgb(61, 61, 61);
   --transition-duration: 0.3s;

  }


  /*Calculator icon - change type*/

  .scientific-icon{
    position: absolute;
    font-size: 5rem;
    left: 2rem;
    top: 2rem;
    color: var(--equal);
    cursor: pointer;
  }

  .scientific{
    color: rgb(247, 73, 73);
    position: absolute;
    font-size: 5rem;
    left: 2rem;
    top: 2rem;
    cursor: pointer;
  }

  .result-scientific::placeholder{
    color: rgb(247, 73, 73);
  }